.EditorNode > input {
    width: 50px;
    height: 50px;
    border: 2px solid #8b8a8d;
    border-radius: 8px;
    font-family: "liberation.ttf";
    font-size: 2rem;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.EditorNode > input:hover {
    border-color: #11a;
}

.EditorNode > input:focus {
    outline: 4px solid #ccf;
    border: 2px solid #bbb;
    caret-color: transparent;
}

.EditorNode.null > input {
    color: #888
}
