.TitleText {
    font-family: "liberation.ttf";
    font-size: 30px;
    padding-top: 6px;
    padding-left: 10px;
    color: #fff;
}

@media only screen and (max-device-width: 550px) {
    .TitleText {
        display: none
    }
}
